<section>

  
    <h2>Welcome back!</h2>

  <form method="post" class="log-form">

    <div class="group log-input">
      <input type="text" id="email" name="email" placeholder="Email">
    </div>

    <div class="group log-input">
      <input type="password" id="password" name="password" placeholder="Password">
    </div>

    <span class="check left-align">
      <input type="checkbox">
      <label>Remember Me</label>
    </span>

    <a class="right-align" href="#">Forgot Password</a>

    <br><br>

    <div class="container-log-btn">
      <button type="submit" name="btn_submit" class="log-form-btn" (click)="onLogin($event.email, $event.password)">
        <span>Login</span>
      </button>
    </div>

  </form>



</section>
